.contact-form{
    margin-top: 40px;
}
.group {
  position: relative;
  margin-bottom: 45px;
}
.contact-form .inprt {
  font-size: 18px;
  padding:15px 10px 15px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  background: transparent;
}
.contact-form textarea.inprt{
    border: 1px solid #d6d6d6;
    resize: none;
}
.contact-form .inprt:focus {
  outline: none;
}

/* LABEL ======================================= */
.contact-form label {
  color: #aaa19a;;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;

  width: 100%;
  height: 35px;
  /* background: #fff; */
  
}

/* active state */
.contact-form .inprt:focus ~ label,
.contact-form .inprt:valid ~ label {
  top: -20px;
  /* font-size: 14px; */
  color: #aaa19a;;
}

/* active state */
.contact-form .inprt:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    /* background: #5264ae; */
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    /* background: #5264ae; */
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    /* background: #5264ae; */
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* login */
.forms{
  float: left;
  width: 100%;
  display: block;
}
.captchaImg{
  border: 1px solid #d6d6d6;
  height: 40px;
  margin-top: 10px;
}
.captchaImg img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact-form .btn{
  border: transparent;
  border-radius: 0;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form .btn:hover{
 transition: 0.5s;
 background: #ccc8c3;
}
.forgot{
  color: #525656;
  float: left;
  font-size: 15px;
  margin-top: 15px;
}
.lor-r h2{
  font-size: 20px;
  font-weight: 500;
}
.lor-r p{
  font-size: 14px;
  line-height: 30px;
  color: #525656;
}
.vl {
  border-left: 1px solid #d6d6d6;
  height: 470px;
}
.d-mbl{
  text-align: center;
  justify-content: center;
  display: flex;
}
 
.group i.fa-solid.fa-paperclip {
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: #ccc8c3;
}

/* IMg */
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #ccc8c3;
    margin: 0 auto 20px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#profile-container img {
    width: 150px;
    height: 150px;
}
.upl{
  width: 50px;
  height: 50px;
  background: #f4c635;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  left: auto;
  right: auto;
  margin-left: 90px;
}
.upl i{
 font-size: 20px;
}
.upld{
  display: flex;
  justify-content: center;
}
#imgView{
  display: none;
}
#profile-container h2{
  text-align: center;
  margin: 0;
  font-weight: normal;
}
.showC{
  display: block !important;
}
.hideC{
  display: none !important;
}



/* IMg */



@media screen and (min-width: 767px) {
 .f-ddf .vl{
  height: 100%;
 }
 .f-ddf{
   display: flex;
 }
}

@media screen and (max-width: 1200px) {
 
}
@media screen and (max-width: 992px) { 
 
}
@media screen and (max-width: 767px) {
  .vl {
    border-bottom: 1px solid #d6d6d6;
    height: 50px;
    width: 100%;
    border-left:none ;
}
}
@media screen and (max-width: 540px) {
 
}
