.header {
  width: 100%;
  height: 70px;
  background: linear-gradient(#060b2f 13.41%, #0e1975 91.73%); 
}
.head-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brand {
  /* width: 240px;
  height: 125px; */
  border-radius: 0.56px 0.56px 15.21px 15.21px;
  background: #fbfdfb;
  box-shadow: 7px 7px 5px rgba(7, 6, 6, 0.05);
  height: 90px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.brand img{
    width: 100%;
    object-fit: contain;
    max-width: 220px;
}
.header-links{
  display: flex;
  height: 70px;
  flex-direction: row;
  justify-content: end;
  text-align: center;
  align-items: center;
  gap: 15px;
}
.link-head{
  color: #fff;
  padding: 10px;    
  display: flex;
  transition: 0.5s;
}
.link-head:hover{
  color: #f4c635;
  transition: 0.5s;
}
.link-head img{
  max-width: 20px;
  object-fit: contain;
  margin-left: 5px;
}
/* .pull-right{
    float: right;
} */
.mobile-view{
  display: none;
}
.bars{
  /* display: flex; */
  height: 70px;
  flex-direction: row;
  justify-content: end;
  text-align: center;
  align-items: center;
  gap: 15px;
  color: #fff;
  font-size: 25px;
}
@media screen and (max-width:1200px) {
  .brand{
    min-width: 190px;
  }
}
@media screen and (max-width:992px) { 
  .header-links{
    display: none;
    position: absolute;
    background: #f4c635;
    left: 0;
    right: 0;
    z-index: 9;
    min-width: 300px;
    width: 100%;
    height: auto;
    padding: 28px;
    top: 70px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .header-links.show{
    display: flex;
  }
  .mobile-view{
    display: block;
  }
  .mobile-view.bars{
    display: flex;
  }
}
@media screen and (max-width:767px) {
 
}