.info-group li .infocard {
  width: 100%;
  min-height: 330px;
  border-radius: 5.52px;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(7, 6, 6, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.info-group li .infocard .icn {
  float: right;
  width: 60%;
  min-height: 200px;
  border-radius: 1.74px 5.67px 1.74px 120.82px;
  background: #56a4cb;
  box-shadow: 0px 0px 5px rgba(7, 6, 6, 0.06);
  align-self: end;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
}
.info-group li .infocard .icn img {
  object-fit: contain;
}
.info-group li .infocard h3 {
  color: #56a4cb;
  clear: both;
  font-weight: 500;
}

.info-group li:nth-child(2n) .infocard h3 {
  color: #f8b071;
}
.info-group li:nth-child(2n) .infocard .icn {
  background: #f8b071;
}

.info-group li:nth-child(3n) .infocard h3 {
  color: #5fbc7f;
}
.info-group li:nth-child(3n) .infocard .icn {
  background: #5fbc7f;
}
.info-group li .infocard:hover .icn {
  transition: 0.5s;
  border-radius: 1.74px 5.67px 120.82px 120.82px;
  width: 100%;
  min-height: 220px;
  /* height: 100%; */
}

.info-group li .infocard:hover h3 {
  transition: 0.5s;
  /* border-radius: 1.74px 5.67px 120.82px 120.82px; */
  /* width: 100%;
    min-height: 250px;
    height: 100%; */
}

@media screen and (max-width: 1200px) {
    .info-group li .infocard .icn img{
        max-width: 60px;
    }
    .info-group li .infocard{
        min-height: 310px;
    }

}
@media screen and (max-width: 992px) {
    .info-group li .infocard .icn img{
        max-width: 30px;
    }
    .info-group li .infocard .icn{
        min-height: 100px;
        border-radius: 2px 6px 2px 90px;
    }
    .info-group li .infocard {
        min-height: 190px;
    }
    .info-group li .infocard h3{
        font-size: 15px;
    }
    .info-group li .infocard:hover .icn{
        min-height: 100px;
    }
}
@media screen and (max-width: 767px) {
    .info-group li .infocard .icn {
        min-height: 80px;
        border-radius: 2px 6px 2px 50px;
    }
    .info-group li .infocard:hover .icn{
        min-height: 80px;
    }
    .info-group li .infocard {
        min-height: 175px;
    }
    .info-group li .infocard h3 {
        font-size: 14px;
    }
}
@media screen and (max-width: 540px) {
    .info-group li .infocard {
        min-height: 150px;
    }
    .info-group li .infocard h3 {
        font-size: 12px;
    }
}
